body {
  background-color: whitesmoke;
  height: 100%;
}

.App {
  display: flex;
  height: 100vh;
  width: 100%;
}

.project-MVC-Body {
  background-color: red;
  width: 100%;
}

.project-MVC-NavBar {
  background-color: aqua;
  width: 20%;
}
