body {
  background-color: whitesmoke;
}

.App {
  display: flex;
  width: 100%;
}

.project-MVC-Body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.project-MVC-NavBar {
  background: linear-gradient(to left top, skyblue, blue);
  width: 20%;
}
